.Home-View-Container{
    width: 100%;
    height: 100%;
    background-color: #01061d;
    position: relative;
    overflow: hidden;
}

.Home-View-Background{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

.Home-Background-Shape-0{
    width: 400px;
    height: 400px;
    filter: blur(75px);
    background-color: #000d41;
    border-radius: 400px;
    position: absolute;
    top: -50px;
    left: -50px;
}

.Home-Background-Shape-1{
    width: 400px;
    height: 400px;
    filter: blur(25px);
    background: -webkit-radial-gradient(left bottom, rgb(0, 50, 252) 100px, rgb(196, 242, 255));
    border-radius: 400px;
    position: absolute;
    top: 50vh;
    left: 92vw;
}

.Home-View-Content{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
}