@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* * Project Section * */

.Home-View-Project-Section {
    width: 100%;
    height: auto;
    min-height: 130vh;
    background-color: #01061d;
    position: relative;
}

.Home-View-Project-Background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    overflow: hidden;
}

.Home-Project-Background-Shape-0 {
    position: absolute;
    bottom: 5%;
    left: 2%;
    background-image: linear-gradient(rgba(#999, 0.4), rgba(#ccc, 0.5));
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    width: 100px;
    height: 100px;
    animation: rotation 15s linear infinite;
    background-color: #F3E600;
}

.Home-View-Project-Content {
    width: 100%;
    height: auto;
    min-height: 100%;
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Home-View-Project-Margin {
    width: 85%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Home-View-Project-Text-Container {
    width: 55%;
    height: auto;
}

.Home-View-Project-Title-Decoration-Label {
    font-style: normal;
    background: #00EABE;
    background: linear-gradient(to right, #00EABE 6%, #7affeb 80%, #4eeded 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: .1rem;
}

.Home-View-Project-Title-Label {
    font-family: PoppinsMedium;
    font-size: 24px;
    color: #fff;
}

.Home-View-Project-Text-Label {
    font-family: PoppinsLight;
    font-size: 16px;
    color: #ffffff;
    text-align: justify;
}

.Home-View-Project-Animation-Container {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home-View-Project-Keywords-Container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home-View-Project-Slider-Contanier{
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.Home-View-Project-Slider-Option-Container{
    width: 22%;
    height: auto;
}

.Home-View-Project-Slider-Option-Title-Label{
    font-family: PoppinsMedium;
    font-size: 36px;
    color: #ffffff;
}

.Home-View-Project-Slider-Option-Subtitle-Label{
    font-family: PoppinsLight;
    font-size: 16px;
    color: #ffffff;
}

/* * Laptop * */

@media screen and (min-width:600px) and (max-width:1600px) {

    .Home-View-Project-Section{
        padding-bottom: 60%;
    }

    .Home-View-Project-Content{
        padding-top: 5%;        
    }

    .Home-Project-Background-Shape-0{
        right: 2%;
    }

}

/* * Mobile * */

@media screen and (min-width:0px) and (max-width:414px) {

    .Home-View-Project-Section{
        width: 100vw;
        height: auto;
        min-height: 170%;
        overflow-y: hidden;
    }

    .Home-View-Project-Content{
        height: auto;
        min-height: 100%;
    }

    .Home-Project-Background-Shape-0{
        display: none;
    }

    .Home-View-Project-Margin{
        flex-direction: column;        
    }

    .Home-View-Project-Text-Container{
        width: 100%;
        padding-top: 80px;
        margin-bottom: 20px;
    }

    .Home-View-Project-Title-Label {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .Home-View-Project-Text-Label {
        font-size: 10px;
        margin-bottom: 10px;
    }

    .Home-View-Project-Animation-Container{
        width: 100%;
    }

    .Home-View-Project-Keywords-Container{
        margin-top: 60px;
    }

    .Home-View-Project-Slider-Contanier{
        margin: auto;
        width: 80%;
        height: 175px;
        justify-content: flex-start;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }

    .Home-View-Project-Slider-Option-Container{
        min-width: 225px;
        height: 100%;
        margin-right: 20px;
        scroll-snap-align: start;
    }

    .Home-View-Project-Slider-Option-Title-Label{
        font-size: 16px;
        color: #ffffff;
        margin-bottom: 10px;
    }
    
    .Home-View-Project-Slider-Option-Subtitle-Label{
        font-size: 12px;
        color: #ffffff;
    }
    
}