.Simulator-View-Desktop-Container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.Simulator-View-Margin{
    width: 98%;
    height: calc(100% - 70px);
}

.Simulator-Top-Bar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5%;
}

.Simulator-Top-Market-State{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Market-Search-Container{
    width: 49%;
    height: 40px;
    background-color: #fafbff;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: not-allowed;
}

.Market-Search-Input{
    width: 90%;
    height: 100%;
    outline: none;
    border: none;
    font-family: PoppinsLight;
    color: #01061d;
    background-color: transparent;
    cursor: not-allowed;
}

.Market-Local-Currency-SelecBox{
    width: 49%;
    height: 40px;
    background-color: #fafbff;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: not-allowed;
}

.Market-Local-Currency-SelecBox-Margin{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Market-Local-Currency-Selected-Label{
    width: calc(100% - 40px);
    font-family: PoppinsMedium;
    color: #01061d;
    cursor: not-allowed;
}

.Simulator-Top-Market-Options{
    width: 48%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Simulator-Market-Option-Button {
    padding: 10px 20px 10px 20px;
    font-family: PoppinsLight;
    font-size: 14px;
    color: #fff;
    border-radius: 15px;
    background-color: #ffffff39;
    margin-right: 10px;
    cursor: pointer;
}

.Simulator-Market-Option-Selected {
    background-color: #00eabe;
    color: #01061d;
}

.Simulator-Top-Market-Curreny{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Simulator-Currency-Container{
    padding: 10px 20px 10px 20px;
    font-family: PoppinsLight;
    font-size: 14px;
    color: #01061d;
    border-radius: 15px;
    background-color: #ffffff;
    margin-right: 10px;
    cursor: default;   
}

.Simulator-Market-Wallet-Container{
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Simulator-Market-Container{
    width: 70%;
    height: 100%;
}

.Simulator-Wallet-Container{
    width: 29%;
    height: 100%;
}

.Simulator-Title-Container{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #ffffff;
}

.Simulator-Title-Label{
    font-family: PoppinsMedium;
    font-size: 20px;
    color: #ffffff;
}

.Simulator-Market-Table-Header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #ffffff65;
}

.Simulator-Market-Data-Container{
    width: 20%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Simulator-Market-Data-Label{
    font-family: PoppinsMedium;
    font-size: 18px;
    color: #ffffff;   
}

.Simulator-Market-Value-Label{
    font-family: PoppinsLight;
    font-size: 14px;
    color: #ffffff;   
}

.Simulator-Market-Result-Table-Container{
    width: 100%;
    height: calc(100% - 170px);
    overflow-y: scroll;
}

.Simulator-Market-Result-Table-Container::-webkit-scrollbar {
    width: 5px;
    background-color: #01061d;
}

.Simulator-Market-Result-Table-Container::-webkit-scrollbar-thumb {
    background: #02176c;
}

.Simulator-Market-Action-Container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Simulator-Market-Button{
    width: 45%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #00eabe;
    color: #01061d;
    font-family: PoppinsLight;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}

.Simulator-Market-Sell{
    background-color: #ffffff39;
    color: #ffffff;
}

/* * Wallet Design * */

.Simulator-Wallet-Balance-Container{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Simulator-Wallet-Balance-Data-Container{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Simulator-Wallet-Balance-Box{
    width: 70%;
    height: auto;
    display: block;
}

.Simulator-Wallet-Status-Box{
    width: 29%;
    height: auto;
    display: block;
}

.Simulator-Wallet-Data-Title-Label{
    width: 100%;
    height: 20px;
    font-family: PoppinsLight;
    font-size: 14px;
    color: #ffffff;
}

.Simulator-Wallet-Data-Value-Label{
    width: 100%;
    height: 40px;
    font-family: PoppinsMedium;
    font-size: 20px;
    color: #ffffff;
}